.header__logo__image {
  min-width: 150px;
  width: clamp(150px, 15.78vw, 303px);
  height: clamp(42px, 4.375vw, 84px);
}
.wrapper {
  padding-top: clamp(18px, 1svw, 36px);
  padding-bottom: clamp(18px, 1svw, 36px);
}
.header-image {
  min-height: 200px;
  height: 35svh;
}
@media (min-width: 1024px) {
  .header-image {
    min-height: 300px;
    height: 50svh;
  }
}
.headline {
  text-transform: uppercase;
  font-size: clamp(
    28px,
    calc(36px + (75 - 36) * ((100vw - 768px) / (1920 - 768))),
    75px
  );
  @apply text-white font-black;
}
